{% load form-tweak %}
<!doctype html>
<html lang="en">
	<head>
		<title>To-Do lists</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">		
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/base.css">
	</head>
	<body>
		<div class="container">
			<div class="row jumbotron">
				<div class="col-md-6 offset-md-3">
					<div class="text-center">
						<h1>{% block header_text %}{% endblock %}</h1>
						<form method="POST" action="{% block form_action %}{% endblock %}" novalidate>
							{% csrf_token %}
							{% if form.errors %}
								{{ form.text|add_css_class:"is-invalid" }}
								<div class="invalid-feedback">
									{{ form.text.errors }}
								</div>							
							{% else %}
								{{ form.text }}
							{% endif %}
						</form>				
					</div>				
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-6 offset-md-3">
					{% block table %}
					{% endblock %}			
				</div>
			</div>

		</div>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>